//output:test.html
doctype html
html
    head
        title title
        link(href='style.min.css', rel='stylesheet')
    body
        .container
            .head
              .face
                .mouth
                .eye-group
                  .eye.eye-left
                  .eye.eye-right
